<p>Thank you for requesting an invitation to join GenomeSpace.  You may now register for a new account at <%= link_to "http://www.genomespace.org/register", "http://www.genomespace.org/register" %>. Please use the email address you used to submit your invite request: <%= @email %>.</p>

<p>Before you start using GenomeSpace, we encourage you to check out the <%= link_to "documentation", "http://www.genomespace.org/documentation" %> on our web site.</p>

<p>Your feedback on this beta release is important to us so that GenomeSpace can best serve the community.  Send us email at <%= mail_to "gs-help@broadinstitute.org" %>, or post to our <%= link_to "user discussion group", "http://www.genomespace.org/support" %>.</p>

<p>Thanks,<br />
The GenomeSpace Team</p>