<% if @page.showTitle %>
 <h1>
    <%= @page.title %>
    <% if user_signed_in? %>
        <%= current_user.cms_admin? ? edit_button(@page) : nil %>
    <% end %>
 </h1>

<% end %>

<% if !@page.showTitle %>
 <div>
    <% if user_signed_in? %>
            <%= current_user.cms_admin? ? edit_button(@page) : nil %>
        <% end %>
 </div>
<% end %>



<%= @page.dev? ? "<p style='color: red;'>This page is a dev revision.</p>".html_safe : nil %>
<%= @page.content.html_safe %>

<% if @page.title == "PI Call Minutes" %>

	<%= javascript_tag do %>
	
		audiojs.events.ready(function() {
		  var as = audiojs.createAll();
		});
	
	<% end %>

<% end %>