<div id="blanket" style="display:none;">&nbsp;</div>
<div id="mailing_lists" style="display:none;">
<p><%= image_tag "Icon-Email-48.png", :style => "padding-right: 5px; float: left;"%><%= mail_to "genomespace-announce-subscribe@broadinstitute.org?subject=Please add me to the GenomeSpace Announce list", "Join the Genomespace announce email list" %><br />
This list is used for general announcements about the GenomeSpace project.</p>
<p><%= image_tag "Icon-Email-48.png", :style => "padding-right: 5px; float: left;"%><%= mail_to "genomespace-users-subscribe@broadinstitute.org?subject=Please add me to the GenomeSpace Users list", "Join the Genomespace users email list" %><br />
This list is used for important announcements to GenomeSpace end users about new features, general usage and other news regarding GenomeSpace.</p>
<p><%= image_tag "Icon-Email-48.png", :style => "padding-right: 5px; float: left;"%><%= mail_to "gs-tool-developers-subscribe@broadinstitute.org?subject=Please add me to the GenomeSpace Tool Developers list", "Join the Genomespace tool developers email list" %><br />
This list is used for information regarding integrating new tools into GenomeSpace and other information regarding the GenomeSpace infrastructure.</p>
<p style="text-align: center;"><a onclick="popup('mailing_lists')" href="#">close this window</a></p>
</div>